body {
  font-size: var(--size-lg);
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--dark-black-color);
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 15px;
}
